@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix")
      format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
    url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #666d92;
  background: #fff;
  height: 100%;
  position: relative;
  letter-spacing: -0.5pt;
}

a {
  color: #5465fc;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover,
a:active,
a:focus {
  color: #5465fc;
  outline: none;
}

p {
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  color: #161f6a;
  /* font-family: "Fira Sans", sans-serif; */
  font-family: "Montserrat", sans-serif;

  font-weight: 500;
  margin: 0 0 30px 0;
}
/* custom indexTitle */
#indexTitle {
  font-weight: 500;
  font-size: 35px;
}

@media screen and (max-width: 768px) {
  #indexTitle {
    font-weight: 500;
    font-size: 22pt;
  }
}

#title {
  font-weight: 500;
  font-size: 35px;
}
@media screen and (max-width: 768px) {
  #title {
    font-weight: 500;
    font-size: 22pt;
  }
}

::-webkit-selection {
  color: #fff;
  background: #5465fc;
}

::-moz-selection {
  color: #fff;
  background: #5465fc;
}

::selection {
  color: #fff;
  background: #5465fc;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-md {
  padding: 10px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover,
.btn:active,
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #5465fc;
  color: #fff;
  border: 2px solid #5465fc;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #5465fc !important;
  border-color: #5465fc !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #5465fc;
  border: 2px solid #5465fc;
}
.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
  background: #5465fc;
  color: #fff;
}
.btn-primary.btn-withoutOutline {
  background: transparent;
  color: #5465fc;
  border: none;
}
.btn-primary.btn-withoutOutline:hover,
.btn-primary.btn-withoutOutline:focus,
.btn-primary.btn-withoutOutline:active {
  border: none;
  color: #ffffff;
}

/* custom centering on index of CTAs */
@media screen and (max-width: 768px) {
  .btn-center {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  #lessMargin {
    margin-bottom: 5px !important;
  }
}
@media screen and (min-width: 768px) {
  .noDisplay {
    display: none;
  }
}
.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  border: 2px solid #cacaca;
  height: 46px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 20px;
  box-shadow: none !important;
}
.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid;
  border-color: #5465fc;
}
.form-control:hover {
  -webkit-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  -webkit-transition: border-color ease-in-out 0.4s, box-shadow ease-in-out 0.4s !important;
  transition: opacity 0.4s;
}
.fh5co-social {
  padding: 0;
  margin: 0;
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social li a {
  font-size: 22px;
  color: #fff;
  padding: 0;
  margin: 0;
  padding: 2px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.fh5co-social li a:hover {
  color: #5465fc;
}
.fh5co-social li a:hover,
.fh5co-social li a:active,
.fh5co-social li a:focus {
  outline: none;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 1em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 1em;
  }
}

#fh5co-header {
  width: 100%;
  margin: 0;
  background-color: #cacaca;
}
@media screen and (max-width: 768px) {
  #fh5co-header {
    margin: 0px 0 0 0;
  }
}
#fh5co-header .header-inner {
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 100%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
#fh5co-header h1 {
  float: left;
  padding: 0;
  font-weight: 500;
  line-height: 0;
  font-size: 30px;
}
#fh5co-header h1 a {
  position: relative;
  color: black;
}
#fh5co-header h1 a > span {
  color: #5465fc;
}
#fh5co-header h1 a:hover,
#fh5co-header h1 a:active,
#fh5co-header h1 a:focus {
  text-decoration: none;
  outline: none;
}
#fh5co-header h1 a:after {
  position: absolute;
  bottom: 6px;
  right: -8px;
  content: "";
  width: 8px;
  height: 8px;
  background: #5465fc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-header h1,
#fh5co-header nav {
  margin: 38px 0 0 0;
}
#fh5co-header nav {
  float: right;
  padding: 0;
}
@media screen and (max-width: 768px) {
  #fh5co-header nav {
    display: none;
  }
}
#fh5co-header nav ul {
  padding: 0;
  margin: 0 -0px 0 0;
  line-height: 0;
}
#fh5co-header nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#fh5co-header nav ul li a {
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#fh5co-header nav ul li a i {
  line-height: 0;
  font-size: 20px;
  position: relative;
  top: 3px;
}
#fh5co-header nav ul li a:after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 7px;
  left: 10px;
  right: 10px;
  background-color: #5465fc;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#fh5co-header nav ul li a:hover {
  text-decoration: none;
  color: #5465fc;
}
#fh5co-header nav ul li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#fh5co-header nav ul li a:active,
#fh5co-header nav ul li a:focus {
  outline: none;
  text-decoration: none;
}
#fh5co-header nav ul li.cta {
  margin-left: 20px;
}
#fh5co-header nav ul li.cta a {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  border: 2px solid #5465fc;
  color: #5465fc;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#fh5co-header nav ul li.cta a:hover {
  color: #fff;
  background: #5465fc;
}
#fh5co-header nav ul li.cta a:hover:after {
  display: none;
}
#fh5co-header nav ul li.active a {
  text-decoration: none;
  color: #fff;
}
#fh5co-header nav ul li.active a:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
/* old header*/

#fh5co-hero {
  height: auto;
  /* background: #fff url(../images/loader.gif) no-repeat center center; */
}
/* #fh5co-hero .btn {
  font-size: 24px;
}
#fh5co-hero .btn.btn-primary {
  padding: 14px 30px !important;
} */
.fh5co-hero-index {
  height: 560px !important;
}
#fh5co-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#fh5co-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}
#fh5co-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
}
#fh5co-hero .flexslider .flex-control-nav {
  bottom: 40px;
  z-index: 1000;
}
#fh5co-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#fh5co-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}
#fh5co-hero .flexslider .flex-direction-nav {
  display: none;
}
#fh5co-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 700px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 700px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 70px;
  font-weight: 500;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 40px;
  }
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead {
  font-size: 20px;
  color: #fff;
}
#fh5co-hero
  .flexslider
  .slider-text
  > .slider-text-inner
  .fh5co-lead
  .icon-heart {
  color: #d9534f;
}
/* old header*/

#fh5co-services-section,
#fh5co-work-section,
#fh5co-testimony-section,
#fh5co-blog-section,
#fh5co-services-section-design {
  padding: 5em 0;
}

#fh5co-services-section-ochrana {
  padding: 2em 0 5em 0;
}

@media screen and (max-width: 768px) {
  #fh5co-services-section,
  #fh5co-work-section,
  #fh5co-testimony-section,
  #fh5co-blog-section,
  #fh5co-services-section-design,
  #fh5co-services-section-ochrana {
    padding: 2em 0;
  }
}

#fh5co-services-section .services {
  position: relative;
}
#fh5co-services-section .services i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
  color: #5465fc;
}
#fh5co-services-section .services .desc {
  padding-left: 70px;
}
#fh5co-services-section .services .desc h3 {
  font-size: 20px;
  font-weight: 500;
}

.fh5co-services {
  margin-top: 4em;
}

/* S POTISKEM a OCHRANA a PRODUKTY PAGE */

.fh5co-s-potiskem,
.fh5co-hero-ochrana,
.fh5co-hero-produkty {
  margin-top: 0px;
}

.fh5co-s-potiskem .image,
.fh5co-hero-ochrana .image {
  height: 75px;
}

.fh5co-hero-ochrana {
  height: 350px !important;
}

.fh5co-hero-s-potiskem {
  height: 400px !important;
}

.fh5co-hero-produkty {
  height: 450px !important;
}

.fh5co-hero-produkty a {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .fh5co-hero-s-potiskem {
    height: auto !important;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .fh5co-hero-ochrana {
    height: auto !important;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .fh5co-hero-produkty {
    height: auto !important;
    padding-bottom: 60px;
  }
}

.fh5co-services .s-potiskem {
  /* padding-top: 30px; */
  margin-top: 20px;
  margin-bottom: 10px;
  /* border-top: 1px solid; */
}
@media screen and (max-width: 768px) {
  .fh5co-services .s-potiskem {
    /* padding-top: 30px; */
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16pt;
    /* border-top: 1px solid; */
  }
}

.btn-proces {
  min-width: 245px;
}

/* S POTISKEM PAGE */

#fh5co-work-section .item-grid {
  width: 100%;
  float: left;
  position: relative;
  background: #fff;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: 2px;
  border-radius: 20px;
}
/* #fh5co-work-section .item-grid :focus,
#fh5co-work-section .item-grid :hover  {

} */

#fh5co-work-section .item-grid .image {
  height: 205px;
  overflow: hidden;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#fh5co-work-section .item-grid .krytka:focus,
#fh5co-work-section .item-grid .krytka:hover {
  background-image: url("../images/antispygadgets-main-gif.jpg") !important;
}

#fh5co-work-section .item-grid .usb-blocker:focus,
#fh5co-work-section .item-grid .usb-blocker:hover {
  background-image: url("../images/USB-data-blocker-photo-animation-small-minDetails.gif") !important;
}

@media screen and (max-width: 768px) {
  #fh5co-work-section .item-grid .krytka {
    background-image: url("../images/antispygadgets-main-gif.jpg") !important;
  }
  #fh5co-work-section .item-grid .usb-blocker {
    background-image: url("../images/USB-data-blocker-photo-animation-small-minDetails.gif") !important;
  }
}

#fh5co-work-section .item-grid .v-align {
  padding: 5px;
}
#fh5co-work-section .item-grid .v-align h3 {
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  color: #5465fc;
}
#fh5co-work-section .item-grid .v-align p {
  color: #666d92;
  text-align: left;
  padding-left: 10px;
  font-size: 16px;
}
#fh5co-work-section .item-grid:hover,
#fh5co-work-section .item-grid:focus {
  text-decoration: none;
  -webkit-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  top: -2px;
}

.wrap-testimony {
  position: relative;
  width: 100%;
}
.wrap-testimony .testimony-slide {
  text-align: center;
  overflow: hidden;
}
.wrap-testimony .testimony-slide span {
  font-size: 18px;
}
.wrap-testimony .testimony-slide span a.twitter {
  color: #5465fc;
  font-weight: 300;
}
.wrap-testimony .testimony-slide figure {
  margin-bottom: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.wrap-testimony .testimony-slide figure img {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.wrap-testimony .testimony-slide blockquote {
  border: none;
  margin: 0 auto;
  width: 72%;
  position: relative;
  padding-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .wrap-testimony .testimony-slide blockquote {
    width: 100%;
  }
}
.wrap-testimony .testimony-slide blockquote p {
  font-size: 20px;
  line-height: 1.6em;
  color: #666d92;
}
.wrap-testimony .testimony-slide.active {
  display: block;
}

.owl-carousel .owl-controls .owl-dot {
  margin-top: 0px;
}
.owl-carousel .owl-controls .owl-dot span {
  background: #e6e6e6;
}
.owl-carousel .owl-controls .owl-dot span:hover,
.owl-carousel .owl-controls .owl-dot span:focus {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot:hover span,
.owl-carousel .owl-controls .owl-dot:focus span {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot.active span {
  background: #5465fc;
  border: 2px solid #5465fc;
}

#fh5co-blog-section .item-grid {
  width: 100%;
  float: left;
  position: relative;
  background: #fff;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  top: 2px;
  border-radius: 20px;
}
#fh5co-blog-section .item-grid .image {
  overflow: hidden;
  margin-bottom: 0px;
  background-size: cover;
  background-position: center center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#fh5co-blog-section .item-grid .image-blog {
  height: 100px !important;
  overflow: hidden;
  margin-bottom: 0px;
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
}
#fh5co-blog-section .item-grid .v-align {
  padding: 30px;
}
#fh5co-blog-section .item-grid .v-align h3 {
  font-weight: 500;
  font-size: 20px;
}
#fh5co-blog-section .item-grid .v-align h5 {
  color: rgba(0, 0, 0, 0.3);
}
#fh5co-blog-section .item-grid .v-align p {
  color: gray;
}
#fh5co-blog-section .item-grid:hover,
#fh5co-blog-section .item-grid:focus {
  text-decoration: none;
  -webkit-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  top: -2px;
}

.item-block {
  margin-bottom: 7em;
  float: left;
}
.item-block .icon {
  display: block;
  margin-bottom: 30px;
}
.item-block .icon img {
  max-width: inherit;
  height: 90px;
  margin: 0 auto;
}
.item-block h3,
.trusted-by h3 {
  font-size: 20px;
  font-weight: 500;
}
.item-block p:last-child {
  margin-bottom: 0;
}

.fh5co-heading {
  margin-bottom: 30px;
}
.fh5co-heading h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .fh5co-heading h2 {
    font-size: 18pt;
    font-weight: 500;
  }
}

/* custom css on product detail */
/* .fh5co-about .image-detail,
.fh5co-hero-s-potiskem .image-detail {
  margin-right: 10px;
} */
#detail {
  font-size: 18px;
  color: #666d92;
}
@media screen and (max-width: 768px) {
  #detail {
    text-align: center;
  }
}
.fh5co-about .p-detail,
.fh5co-hero-s-potiskem .p-detail,
.fh5co-hero-produkty .p-detail {
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .fh5co-about .p-detail,
  .fh5co-hero-s-potiskem .p-detail,
  .fh5co-hero-produkty .p-detail {
    height: 70px;
    line-height: 70px;
    white-space: nowrap;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-about .p-detail,
  .fh5co-hero-s-potiskem .p-detail,
  .fh5co-hero-produkty .p-detail {
    text-align: center;
  }
}
/* custom css for index and product details */
.fh5co-intro .img-responsive,
.fh5co-about .img-responsive {
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}
/* Custom on product-page row */
.fh5co-about .row {
  padding-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .fh5co-about .row {
    text-align: center;
    padding-bottom: 15px;
  }
}
.googleplus-color {
  color: #dc4e41;
}

.facebook-color {
  color: #3b5998;
}

.twitter-color {
  color: #55acee;
}

.fh5co-about,
.fh5co-team,
.fh5co-contact {
  padding: 2em 0;
}
@media screen and (max-width: 768px) {
  .fh5co-about,
  .fh5co-team,
  .fh5co-contact {
    padding: 3em 0 10px 0;
  }
}

.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}
.contact-info li i {
  position: absolute;
  top: 0.3em;
  left: 0;
  font-size: 22px;
  color: #5465fc;
}
.contact-info li a {
  color: #5465fc;
}

#map,
#calc {
  /* height: 1000px; */
  width: 100%;
}
@media screen and (max-width: 768px) {
  #map,
  #calc {
    /* height: 800px; */
  }
}
@media screen and (max-width: 480px) {
  #map,
  #calc {
    /* height: 400px; */
  }
}

.fh5co-staff img {
  width: 100%;
  float: left;
  position: relative;
  background: #fff;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: 2px;
  border-radius: 20px;
}
.fh5co-staff h3 {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 20px;
}
.fh5co-staff h4 {
  margin: 0 0 20px 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}
.fh5co-staff .fh5co-social {
  text-align: center;
}
.fh5co-staff .fh5co-social a {
  color: #161f6a;
}

.fh5co-cta {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 7em 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  .fh5co-cta {
    padding: 3em 0;
  }
}
.fh5co-cta .overlay {
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}
.fh5co-cta .container {
  position: relative;
  z-index: 2;
}
.fh5co-cta p,
.fh5co-cta h3 {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .fh5co-cta h3 {
    font-size: 16pt;
  }
}
.fh5co-cta p:last-child {
  margin-bottom: 0;
}
.fh5co-cta .btn {
  color: #fff;
}

#fh5co-footer {
  padding: 7em 0;
  float: left;
  width: 100%;
  position: relative;
  background: #cacaca;
}
@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding: 3em 0;
  }
}
#fh5co-footer h2,
#fh5co-footer h3,
#fh5co-footer h4 {
  color: #666d92;
}
#fh5co-footer h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: bold;
}
#fh5co-footer [class*="col"] {
  padding-bottom: 30px;
}
#fh5co-footer .btn {
  color: #fff;
}
#fh5co-footer .float {
  float: left;
  margin-right: 10%;
}
#fh5co-footer ul {
  padding: 0;
  margin: 0;
}
#fh5co-footer ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
#fh5co-footer ul li a {
  color: #ffffff;
  text-decoration: none !important;
}
#fh5co-footer ul li a:hover {
  color: #5465fc;
}
#fh5co-footer .fh5co-social li {
  display: block !important;
}
#fh5co-footer .icon-heart {
  margin: 5px !important;
  color: #5465fc;
}

.fh5co-copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  clear: both;
  margin-top: 40px !important;
  padding: 40px 0 0 0;
}
.fh5co-copyright span {
  display: block;
}
@media screen and (max-width: 480px) {
  .fh5co-copyright {
    text-align: left !important;
  }
  .fh5co-copyright span {
    display: inline;
  }
}

#fh5co-page {
  position: relative;
  z-index: 2;
  background: #fff;
}

#fh5co-offcanvas,
.fh5co-nav-toggle,
#fh5co-page {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#fh5co-offcanvas,
.fh5co-nav-toggle,
#fh5co-page {
  position: relative;
}

#fh5co-page {
  z-index: 2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas-visible #fh5co-page {
  -moz-transform: translateX(-275px);
  -webkit-transform: translateX(-275px);
  -ms-transform: translateX(-275px);
  -o-transform: translateX(-275px);
  transform: translateX(-275px);
}

#fh5co-offcanvas {
  display: none;
  height: 100%;
  right: 0;
  overflow-y: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 275px;
  background: black;
  padding: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-offcanvas {
    display: block;
  }
}
#fh5co-offcanvas ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
  line-height: 28px;
}
#fh5co-offcanvas ul li a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none !important;
}
#fh5co-offcanvas ul li a:hover {
  color: #5465fc;
}
#fh5co-offcanvas ul li.active a {
  color: #5465fc;
}
#fh5co-offcanvas ul li.cta {
  margin-left: 0;
  margin-top: 20px;
  display: block;
  float: left;
}
#fh5co-offcanvas ul li.cta a {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  border: 2px solid rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#fh5co-offcanvas ul li.cta a:hover {
  background: #fff;
  text-decoration: none;
}
#fh5co-offcanvas ul li.cta a:hover:after {
  display: none;
}

.fh5co-nav-toggle {
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before,
.fh5co-nav-toggle.active i::after {
  background: #fff;
}
.fh5co-nav-toggle.dark.active i::before,
.fh5co-nav-toggle.dark.active i::after {
  background: #fff;
}
.fh5co-nav-toggle:hover,
.fh5co-nav-toggle:focus,
.fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #fff;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #5465fc;
  transition: all 0.3s ease-out;
}
.fh5co-nav-toggle i::before,
.fh5co-nav-toggle i::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #5465fc;
  position: absolute;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-nav-toggle.dark i {
  position: relative;
  color: #5465fc;
  background: #5465fc;
  transition: all 0.2s ease-out;
}
.fh5co-nav-toggle.dark i::before,
.fh5co-nav-toggle.dark i::after {
  background: #5465fc;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: fixed;
  top: 40px;
  right: 20px;
  z-index: 9999;
  display: block;
  margin: 0 auto;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

#fh5co-pricing-section {
  padding: 7em 0;
  background: #fcfcfc;
}
@media screen and (max-width: 768px) {
  #fh5co-pricing-section {
    padding: 3em 0;
  }
}
#fh5co-pricing-section .pricing {
  display: block;
  float: left;
  margin-bottom: 30px;
}
#fh5co-pricing-section .price-box {
  text-align: center;
  padding: 30px;
  background: #fff;
  margin-bottom: 40px;
  position: relative;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  top: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-pricing-section .price-box.popular .btn-select-plan {
  background: #ffffff;
  background-color: #5465fc;
}
#fh5co-pricing-section .price-box.popular .price {
  color: #5465fc;
}
#fh5co-pricing-section .price-box .btn-select-plan {
  padding: 10px 20px;
  background-color: #5bc0de;
  color: #fff;
}
#fh5co-pricing-section .price-box:hover,
#fh5co-pricing-section .price-box:focus {
  -webkit-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  top: -2px;
}
#fh5co-pricing-section .pricing-plan {
  margin: 0 0 50px 0;
  padding: 0;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  color: #888f94;
}
#fh5co-pricing-section .pricing-plan.pricing-plan-offer {
  margin-bottom: 24px;
}
#fh5co-pricing-section .pricing-plan span {
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
  color: #d5d8db;
}
#fh5co-pricing-section .price {
  font-size: 72px;
  color: #6d6d6d;
  line-height: 50px;
}
#fh5co-pricing-section .price .currency {
  font-size: 30px;
  top: -0.9em;
  padding-right: 10px;
}
#fh5co-pricing-section .price small {
  font-size: 13px;
  display: block;
  text-transform: uppercase;
  color: #888f94;
}

.fh5co-light-grey-section {
  background: rgba(0, 0, 0, 0.03) !important;
}

.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */

/*# outline css template */
/**/

#fh5co-hero {
  /*float: left;*/
  width: 100%;
  position: relative;
  /*padding-top: 4em;
  padding-bottom: 4em;*/
  /* height: 654px; */
  z-index: 10;
  /* background: #4fd2c2; */
  overflow: hidden;
}
#fh5co-hero .fh5co-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  /* background: #3b3d40; */
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  #fh5co-hero {
    /*padding-top: 2em; 
    padding-bottom: 2em;*/
  }
  .fh5co-hero-index {
    height: auto !important;
  }
}

#fh5co-hero .fh5co-intro {
  width: 100%;
  color: #666d92;
  z-index: 12;
  position: relative;
}
#fh5co-hero .fh5co-intro .fh5co-intro-img {
  text-align: right;
  bottom: -5em;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .fh5co-intro .fh5co-intro-img {
    bottom: -5em;
  }
  #fh5co-hero .fh5co-intro .fh5co-intro-img img {
    max-width: 100%;
  }
}

#fh5co-hero .fh5co-intro .fh5co-text {
  bottom: -5em;
}

@media screen and (max-width: 992px) {
  #fh5co-hero .fh5co-intro .fh5co-text {
    bottom: 0;
    bottom: -4em;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-hero .fh5co-intro .fh5co-text {
    bottom: 0;
    bottom: -4em;
  }
}
#fh5co-hero .fh5co-intro h2 {
  color: #161f6a;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .fh5co-intro h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
/* customIndex css */
#fh5co-hero .fh5co-intro p {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
#fh5co-hero .rowIndex {
  height: 430px;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .rowIndex {
    height: 710px;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-hero .fh5co-intro p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }
}
#fh5co-hero h4 {
  color: #666d92;
  font-size: 16px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .trusted-by .image-responsive {
    margin-bottom: 45px;
  }
}
.trusted-by .image-responsive {
  vertical-align: middle !important;
}

/* #fh5co-hero .fh5co-intro .btn {
  background: #30beac;
}
#fh5co-hero .fh5co-intro .btn i {
  font-size: 20px;
  vertical-align: middle;
  margin-top: -5px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
} */
/* TEST */
.language_select {
  padding: 7px 15px;
  cursor: pointer;
}
.language_select :before {
  content: "";
  position: absolute;
}
.language_select :hover {
  color: #5465fc;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.language_select_children {
  min-width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
.language_select_children li {
  width: 100%;
  text-align: left;
  padding: 5px;
}
.language_select_children li :hover {
  color: #5465fc;
  outline: none;
  cursor: pointer;
}
/* Mautic submit in footer */
.mauticform_wrapper {
  max-width: 600px;
  margin: 10px auto;
}
.mauticform-innerform {
}
.mauticform-post-success {
}
.mauticform-name {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 3px;
}
.mauticform-description {
  margin-top: 2px;
  margin-bottom: 10px;
}
.mauticform-error {
  margin-bottom: 10px;
  color: red;
}
.mauticform-message {
  margin-bottom: 10px;
  margin-left: 20px;
  color: green;
}
.mauticform-row {
  display: block;
  margin-bottom: 10px;
}
.mauticform-label {
  font-size: 1.1em;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.mauticform-row.mauticform-required .mauticform-label:after {
  color: #e32;
  content: " *";
  display: none;
}
.mauticform-helpmessage {
  display: block;
  font-size: 0.9em;
  margin-bottom: 3px;
}
.mauticform-errormsg {
  display: block;
  color: #fa8072;
  /* margin-top: 10px; */
  margin-left: 20px;
}
.mauticform-selectbox,
.mauticform-input,
.mauticform-textarea {
  width: 100%;
  padding: 0.5em 0.5em;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0px 0px 0px #fff inset;
  border-radius: 4px;
  box-sizing: border-box;
}
.mauticform-checkboxgrp-row {
}
.mauticform-checkboxgrp-label {
  font-weight: 500;
  margin-bottom: 0px !important;
}
.mauticform-checkboxgrp-checkbox {
}
.mauticform-radiogrp-row {
}
.mauticform-radiogrp-label {
  font-weight: normal;
}
.mauticform-radiogrp-radio {
}
.mauticform-button-wrapper .mauticform-button.btn-default,
.mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default {
  color: #5d6c7c;
  background-color: #ffffff;
  border-color: #dddddd;
}
.mauticform-button-wrapper .mauticform-button,
.mauticform-pagebreak-wrapper .mauticform-pagebreak {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.3856;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mauticform-button-wrapper .mauticform-button.btn-default[disabled],
.mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default[disabled] {
  background-color: #ffffff;
  border-color: #dddddd;
  opacity: 0.75;
  cursor: not-allowed;
}
.mauticform-pagebreak-wrapper .mauticform-button-wrapper {
  display: inline;
}
/* Image pop-up */
.fh5co-grid .image-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.fh5co-grid .image-popup .prod-title {
  position: absolute;
  top: 50%;
  bottom: 20px;
  left: 20px;
  right: 20px;
  margin-top: -25px;
}
.fh5co-grid .image-popup .prod-title h3 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
}
.fh5co-grid .image-popup .prod-title span {
  color: #fff;
}
.fh5co-grid:hover .image-popup {
  opacity: "0";
}

.trusted-by .col-md-3 {
  min-height: 90px;
}

.trusted-by .col-md-3 .image {
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
}

.trusted-by p {
  font-size: 16px !important;
  color: #cacaca;
}

/* custom booster bar */
.booster {
  width: 100%;
  max-height: 25px;
  background-color: #5465fc;
  text-align: center;
  margin-left: 0px !important;
}
.booster p {
  font-size: 14px !important;
  color: #ffffff;
  vertical-align: middle;
}
.booster i {
  color: #ffffff;
  margin-right: 10px;
}
.branded .item-grid .image {
  height: 250px !important;
  overflow: hidden;
  margin-bottom: 0px;
  background-size: cover;
  background-position: center center;
  border-radius: 20px !important;
}

.color-blue {
  color: #5465fc;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
}

/* calculator custom style */

#field_365666 select,
#field_370869 select,
#field_365670 select,
#field_372386 select,
#field_365671 select,
#field_372387 select,
#field_372388 select {
  background-color: #fff;
  border: 2px solid #cacaca;
}

#field_365666 select.form-control option,
#field_370869 select.form-control option {
  font-weight: 500 !important;
}

#field_365676,
#field_365680,
#field_365681,
#field_381624,
#field_391151 {
  border: none;
}

#field_365687,
#field_372388 {
  border: 2px solid #5465fc !important;
}

.signature-div {
  display: none;
}
@media screen and (max-width: 480px) {
  #calc #calculoid-field-378130,
  #calc #calculoid-field-378131,
  #calc #calculoid-field-378132 {
    display: none;
  }
}
/* calculation custom css */

/* calculation custom css */

/* logo css */
.fh5co-logo {
  position: relative;
  z-index: 2;
  float: left;
  margin-top: 13px;
}
.fh5co-logo img {
  vertical-align: middle;
  max-height: 55px;
}
/* calculation custom css */
@media screen and (max-width: 480px) {
  #calc #calculoid-field-378130,
  #calc #calculoid-field-378131,
  #calc #calculoid-field-378132 {
    display: none;
  }
}

.calculoid-container .calculoid-container :after,
.calculoid-container :before {
  border-radius: 30px;
}
/* custom improvement */
@media screen and (max-width: 480px) {
  #fh5co-services-section .step,
  #fh5co-services-section-design .step {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-footer p {
    text-align: center;
  }
}
#language {
  color: #5465fc !important;
}
@media screen and (max-width: 480px) {
  .language {
    margin-top: 80px !important;
  }
}
/* scrolly sticky menu */
/* .fixed {
  opacity: 0;
  &.fixed-down {
    opacity: 1;
    animation: headerAnimate;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }
}
.fixed {
  opacity: 0;
  &.fixed-up {
    opacity: 1;
    animation: headerAnimateUp;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }
} */
/* blog post */
.blog-post {
  /* background-image: url(/images/AntiSpyGadgets_backgroundBlog@2x.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.boxed-page {
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  position: relative;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: 2px;
}

@media (min-width: 1200px) {
  .boxed-page {
    width: 1024px;
  }
  .boxed-page .container {
    max-width: 1024px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.navbar-brand {
  font-size: 16px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: underline;
}

.navbar-nav .nav-link {
  color: #000;
  transition: 0.3s ease;
}

.navbar-nav:hover li a {
  opacity: 0.5;
}
.navbar-nav:hover li a:hover {
  opacity: 1;
}

.navbar-toggler {
  font-size: 3rem;
}
#gtco-header-navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  transition: background-color 0.3s ease-in-out;
}

.not-on-top #gtco-header-navbar {
  position: fixed;
  max-width: 1024px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 15px 0px;
  border-radius: 0;
}

.jumbotron {
  background-color: none;
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0;
  overflow: hidden;
  min-height: 500px;
}
@media (min-width: 1024px) {
  .jumbotron {
    min-height: 80vh;
  }
}
.jumbotron .container {
  position: relative;
}
.jumbotron:before {
  position: absolute;
  display: block;
  content: "";
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.filter-button-group {
  margin-bottom: 15px;
}
.filter-button-group a {
  margin: 5px;
  cursor: pointer;
}

.grid-link a {
  margin: 5px;
  font-size: 20px;
  color: #000;
}

.grid-portfolio {
  overflow: hidden;
}

.gutter-sizer {
  width: 2%;
}

.grid-sizer,
.grid-item {
  width: 32%;
}

.grid-item {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.grid-item:hover .grid-info {
  top: 50%;
  opacity: 1;
}

.grid-item-wrapper:before {
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  opacity: 0;
}

.grid-item-wrapper:hover:before {
  opacity: 1;
}

.grid-info {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
}

.lightcase-icon-close:before {
  content: "&#xe055";
}

.grid-title {
  text-align: center;
}

.blog-item {
  transition: all 0.3s ease-in-out;
  background-color: #f7f8f9;
  border-radius: 3px;
  overflow: hidden;
}
.blog-item:hover {
  box-shadow: 0 5px 15px -5px #333;
  transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  transform: translateY(-6px);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
}

.bg-white {
  background-color: #fff;
}

.bg-grey .blog-item {
  background-color: #fff;
}

.blog-item-wrapper {
  margin-bottom: 30px;
}

.blog-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blog-title h4 {
  color: #000;
}

.blog-text {
  padding: 15px;
}

.blog-tag {
  color: #000;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.blog-meta {
  color: #939393;
}
.blog-meta p {
  display: inline-block;
  font-size: 14px;
}
.blog-meta a {
  color: #939393;
}

.blog-author {
  display: inline-block;
  color: #939393;
}
.blog-author p {
  font-size: 14px;
  margin-bottom: 0;
}

.blog-share-wrapper {
  float: right;
  display: inline-block;
  margin: 0 -5px;
}
.blog-share-wrapper .blog-share {
  padding: 0 5px;
  cursor: pointer;
}

#gtco-counter {
  position: relative;
}

.counter-item {
  text-align: center;
  z-index: 1;
  color: #fff;
}
.counter-item > i {
  display: block;
  font-size: 40px;
}
.counter-item .number {
  font-size: 60px;
  font-weight: 500;
  display: block;
}
.counter-item h4 {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.price-box {
  border: none;
}
.price-box .card-header {
  background-color: transparent;
}
.price-box small {
  font-size: 60%;
}
.price-box .price-box-list {
  min-height: 150px;
}

footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form-control {
  font-size: 1.6rem;
  margin-bottom: 15px;
  height: 38px;
  font-weight: 500;
}
.form-control:focus {
  border-color: #f15e75;
  box-shadow: 0 0 0 0.2rem rgba(253, 101, 90, 0.25);
}

#gtco-contact-form form label.error {
  margin-bottom: 15px;
  color: #f15e75;
  font-size: 1.4rem;
}

.form-control::-webkit-input-placeholder {
  opacity: 0.5;
}

.form-control::-moz-placeholder {
  opacity: 0.5;
}

.form-control:-ms-input-placeholder {
  opacity: 0.5;
}

.form-control::-ms-input-placeholder {
  opacity: 0.5;
}

.form-control::placeholder {
  opacity: 0.5;
}

#form-message-warning,
#form-message-success {
  display: none;
}

.single-layout .jumbotron:before {
  background-color: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content img.float-left {
  margin: 15px 15px 15px 0;
}

.blog-content .img.float-right {
  margin: 15px 0 15px 15px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .boxed-page {
    margin-right: 30px;
    margin-left: 30px;
  }
  .not-on-top #gtco-header-navbar {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (max-width: 992px) {
  #navbar-nav-header .navbar-nav {
    margin-top: 15px;
  }
  #gtco-header-navbar {
    padding-left: 15px;
    background-color: #fff;
  }
}

@media (max-width: 767px) {
  .boxed-page {
    margin: 4rem 15px;
  }
  .not-on-top #gtco-header-navbar {
    margin-right: 15px;
    margin-left: 15px;
  }
  .counter-item {
    margin-bottom: 40px;
  }
  .counter-item:last-child {
    margin-bottom: 0;
  }
  .section-title br,
  .section-sub-title br {
    display: none;
  }
  .grid-item {
    width: 100%;
  }
  .card-deck {
    flex-direction: column;
  }
}
#gtco-single-content::before {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* @media screen and (max-width: 768px) {
  #blog-post .fh5co-nav-toggle {
    display: none !important;
  }
} */

/* @media screen and (max-width: 768px) {
  #blog-post #fh5co-offcanvas {
    display: none !important;
  }
} */

@media (max-width: 992px) {
  #gtco-header-navbar {
    padding-left: 0px !important;
    text-align: center;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

#blogTitle {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #161f6a;
  margin-top: 20px;
  font-size: 40px;
}

.icon-time {
}
.blog-instuctions {
  text-align: center;
  font-size: 14px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: -0.5pt;
}

@media (max-width: 992px) {
  .blog-instuctions {
    text-align: center;
    font-size: 14px !important;
  }
}

.blog-postTitle {
  font-weight: 500;
  margin-top: 30px !important;
}

@media (max-width: 992px) {
  .navbar-brand {
    text-align: center !important;
  }
}

/* blog-dashboard */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.item-bg {
  width: 300px;
  height: 500px;
  position: absolute;
  top: 30px;
  background: #fff;
  border-radius: 10px;
  /* box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25); */
  opacity: 0;
  transition: all 0.3s;
  left: -30px;
}
.item-bg.active {
  left: 0;
  top: 0;
  opacity: 1;
}

.news__item {
  padding: 40px;
  color: #161f6a;
  border-radius: 10px;
  display: block;
  transition: all 0.3s;
}
@media screen and (min-width: 800px) {
  .news__item:hover {
    color: #5465fc;
    transition-delay: 0.1s;
  }
  .news__item:hover .news-date,
  .news__item:hover .news__title,
  .news__item:hover .news__txt {
    opacity: 1;
    transition-delay: 0.1s;
  }
  .news__item:hover .news__img {
    box-shadow: none;
  }
}
.news__item.active {
}
.news__item.active .news-date,
.news__item.active .news__title,
.news__item.active .news__txt {
  opacity: 1;
}
.news__item.active .news__img {
  box-shadow: none;
}
@media screen and (max-width: 992px) {
  .news__item {
    padding: 30px;
  }
}
@media screen and (max-width: 576px) {
  .news__item {
    padding: 20px;
  }
}
.news-date {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid;
  display: inline-block;
  opacity: 0.7;
  transition: opacity 0.3s;
}
@media screen and (max-width: 576px) {
  .news-date {
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    padding-bottom: 0;
  }
}
.news-date__title {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .news-date__title {
    margin-right: 10px;
  }
}
.news-date__txt {
  font-size: 16px;
}
.news__title {
  font-size: 25px;
  font-weight: 500;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: opacity 0.3s;
}
@media screen and (max-width: 576px) {
  .news__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
.news__txt {
  margin: 10px 0;
  line-height: 1.6em;
  font-size: 15px;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.news__img {
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  width: 100%;
  transition: all 0.3s;
  transform-origin: 0% 0%;
}
@media screen and (max-width: 576px) {
  .news__img {
    margin-top: 20px;
  }
}
.news__img img {
  max-width: 100%;
  border-radius: 10px;
  width: 100%;
}

.gallery img {
  max-height: 250px !important;  
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .gallery img {
    max-height: 250px !important;
    margin-top: 2em;
    vertical-align: middle;
  }
}